*{
     margin: 0;
}

.contenedor{
     background: #b94e52;
     width: 100wh;
     height: 100vh;
     text-align: center;
}

p{
     font-size: xx-large;
     padding: 15%;
}

button{
     font-size: xx-large;
     padding: 0.90em;
}

#yesBtn{
     transform: translate(-100%,0);
}

#noBtn{
     position: absolute;
}